*{
    font-family: Helvetica, Sans-serif;
}
body{
    display: flex;
    justify-content: center;
}
.form{
    margin: 200px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-legend{
    margin-bottom: 20px;
}
.form-input{
    width: 200px;
}
.wrapper{
    width: 800px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.name{
    display: none;
    width: 100%;
    text-align: center;
    margin: 30px 0;
    font-size: 24px;
}
.button{
    width: 200px;
    height: 40px;
    background-color: midnightblue;
    border-radius: 10px;
    margin-top: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
}
.button__restart{
    display: none;
}
.field{
    display: none;
    background-color:white;
    border: 2px solid gray;
}
.ship{
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 5px;
}
.field__row{
    background-color: #c0e1fc;
}
.field__row__even{
    background-color: #cffafa;
}
.ship__type-0{

}
.ship__type-1{
    background-color: seagreen;
}
.ship__type-2{
    background-color: teal;
}
.ship__type-3{
    background-color:royalblue;
}
.ship__type-4{
    background-color: midnightblue;
}